version: "3.8"

services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,iam,sts
      - AWS_DEFAULT_REGION=us-east-1
      - DEBUG=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
